In [3]:

import pandas as pd
df = pd.read_parquet(r'C:\Users\Mark\Downloads\daily_weather.parquet')[['city_name','date','avg_temp_c']]
df = df.loc[(df['date']>='1999-01-01')&(
    (df['date'].dt.month == 1)|
    (df['date'].dt.month == 2) |
    (df['date'].dt.month == 9) |
    (df['date'].dt.month == 10) |
    (df['date'].dt.month == 11) |
    (df['date'].dt.month == 12)
    )&
    (df['city_name'].isin(["Phoenix", "Columbia", "Nashvile", "Harrisburg"]))&(df['date'].dt.day == 15)
]
df

        city_name       date  avg_temp_c
19283  Harrisburg 2000-10-15        16.7
19314  Harrisburg 2000-11-15         2.8
19337  Harrisburg 2000-12-15        -0.6
19368  Harrisburg 2001-01-15         1.7
19398  Harrisburg 2001-02-15         6.1
...           ...        ...         ...
30751     Phoenix 2022-10-15        27.1
30782     Phoenix 2022-11-15        13.3
30812     Phoenix 2022-12-15         8.1
30843     Phoenix 2023-01-15        13.6
30874     Phoenix 2023-02-15         9.0

[283 rows x 3 columns]